#bg{
	background-image: url(../img/loginbg.png);
	background-position: center;
	background-origin: content-box;
	min-width: 1250px;
	height: 600px;
	margin: 0 auto;
}

/*login*/

#loginbox {
	width: 1250px;
	position: relative;
	margin: 0 auto;
}

#login {
	position: absolute;

	width: 320px;
	height: 450px;
	right: 0;
	top: 0;
	margin-top: 78px;
	margin-right: 150px;
}

.loginhead {
	background-color: #fff;
}

.loginhead a {
	font-size: 1.8rem;
	display: inline-block;
	width: 49%;
	text-align: center;
	color: #616161;
	border-bottom:1px solid #f5f5f5;
}

/*footer*/

footer {
	width: 1250px;
	text-align: center;
}
#loginfooter {
	margin: 0 auto;
}

footer p {
	color: #808080;
	padding: 5px 0px;
}

#loginfooter span{
	border: 1px solid #808080;
	margin: 0 5px;
}
