.course-advertise{
	width: 1194px;
	margin:30px auto;
	padding: 30px 0 30px 31px; 
	background-color: white;
}
.ad-img{
	display: inline-block;
	width: 470px;
	vertical-align: top;
	margin-right: 30px;
}
.ad-big{
	width: 470px;
	height: 240px;
}
.ad-small{
	width: 110px;
	height: 60px;
	display: inline-block;
	float:left;
	margin-top: 11px;
	margin-right: 10px;
}
.ad-small-last{
	margin-right: 0;
}
.ad-detail{
	display: inline-block;
	width: 630px;
}
.course-topic{
	font-size: 24px;
	color: #333;
	line-height: 54px;
	margin-bottom: 12px;
}
.course-company,.course-adress{
	font-size: 14px;
	color: #666;
	line-height: 24px;
	padding-left: 20px;
}
.course-company,.course-company1{
	display: inline-block;
}
.course-company1{
	font-size: 12px;
	color: #046ecf;
	line-height: 24px;
	margin-left: 6px;
}
.course-company{
	background:url(../../img/course/home.png) no-repeat;
	background-size: 12px 11px;
	background-position: left center;
}
.course-adress{
	background:url(../../img/course/location.png) no-repeat;
	background-size: 11px 13px;
	background-position: left center;	
}

tr,td,table{
	margin:0;
	padding:0;
}
.course-wrap{
	border-collapse:collapse;
	margin-top: 24px;
}
.sale-num td{
	width: 136px;
	height: 46px;
	border:1px solid #e8e8e8;
	line-height: 46px;
	text-align: center;
	border-top:none;
	font-size: 14px;
	color: #666;
}
.sale-num td:nth-of-type(2){
	border:none;
	border-bottom: 1px solid #e8e8e8;
}
.course-price{
	height: 54px;
	background-color: #29b572;
}
.current-price1{
	font-size: 25px;
	color: white;
	margin-left: 18px;
}
.current-price{
	font-size:28px;
	color: white;
	margin-left: -9px;
}
.origin-price,.origin-price1{
	font-size: 14px;
	color: white;
}
.origin-price{
	margin-left: 30px;
}
.origin-price1{
	margin-left: -6px;
}
.front-money{
	font-size: 14px;
	color: white;
	float: right;
	display: inline-block;
	margin-top: 11px;
	margin-right: 10px;
}
.front-money1{
	width: 60px;
	height: 25px;
	font-size: 16px;
	display: inline-block;
	background-color: white;
	color: #29b572;
	border-radius: 2px;
	float: right;
	margin-top: 9px;
	margin-right: 20px;
	text-align: center;
	line-height: 25px;
}
.course-saleout1,.course-judge1,.course-judgement2{
	color: #29b572
}
.course-saleout1,.course-judge1,.course-judgement2,.course-judgement3{
	margin-left: -3px;
}
.buy-soon,.pre-advice{
	width: 140px;
	height: 42px;
	display: inline-block;
	background-color: #ea9b65;
	color: white;
	text-align: center;
	line-height: 42px;
	box-sizing: border-box;
	font-size: 18px;
	margin-top: 28px;
}
.pre-advice{
	margin-left: 10px;
	background-color: white;
	border:1px solid #ea9b65;
	color: #ea9b65;
}
.course-list{
	width: 1225px;
	margin:0 auto;
	margin-bottom: 30px;
}
.courses-content{
	display: inline-block;
	width: 914px;
	background-color: white;
}

.hot-sale{
	display: inline-block;
	width: 293px;
	background-color:white;

}
.part-right{
	float: right;
	width: 293px;
	background-color:#f5f5f5;

}



.course-reorder>li{
	height: 58px;
	line-height: 58px;
	text-align: center;
	float: left;
	width: 143px;
	border-top: 4px solid rgba(41,181,114,0);
}
.course-reorder .course-reorder-active{
	border-top: 4px solid rgba(41,181,114,1);
	color: #29b572;
}
.course-reorder a{
	font-size: 16px;
	color: #333;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.course-reorder a:hover{
	color: #29b572;
}
.course-reorder .default{
	color:#29b572;
}


.hot-sale-topic{
	height: 48px;
	width: 100%;
	margin-top: 12px;
}
.hot-sale-topic span{
	display: inline-block;
	height: 48px;
	line-height: 48px;

}
.hot-sale-topic span:nth-of-type(1){
	font-size: 15px;
	color: #333333;
	padding-left: 20px;
	margin-left: 15px;
	background:url(../../img/course/fire.png) no-repeat;
	background-size: 14px 19px;
	background-position: left 40%;
}
.hot-sale-topic span:nth-of-type(2){
	font-size: 10px;
	color: #666666;
	float: right;
	margin-right: 15px;
}
.hot-course{
	height: 69px;
	margin:0 0 0 7px;
	border:1px solid rgba(0,0,0,0);
	padding-left: 8px;
	padding-bottom: 9px;
	width:272px;
}
.hot-course img{
	width: 110px;
	height: 60px;
    float: left;
    margin-top: 9px;
}
.hot-course-words{
	float: left;
	width: 161px;
	padding-left: 10px;
	box-sizing: border-box;
}
.hot-course-words p:nth-of-type(1){
	line-height: 26px;
	color: #333333;
	font-size: 14px;
}
.hot-course-words p:nth-of-type(2){
	line-height: 18px;
	color: #999;
	font-size: 12px;
}
.hot-course-words span:nth-of-type(2){
	display: inline-block;
	font-size: 14px;
	color: #ea9b65;
}
.hot-course-words span:nth-of-type(1){
	display: inline-block;
	font-size: 11px;
	color:#ea9b65; 
	margin-top: 13px;
}
.hot-course-list{
	margin-bottom: 32px;
}
.hot-course:hover{
	border:1px solid #e0e0e0;
}
.hot-course:hover .course-name{
	color: #29b572;
}


.question-list{
	width: 293px;
	padding-top: 10px;
	background-color: white;
	margin-top: 15px;
}
.question-list p{
	height: 50px;
	margin-left: 14px;
	padding-left: 19px;
	line-height: 50px;
	font-size: 16px;
	color: #333;
	text-indent: 5px;
	background:url(../../img/course/unkonw.png) no-repeat;
	background-size: 17px 17px;
	background-position: left center;
}
.question span{
	font-size: 13px;
	line-height: 33px;
	height: 33px;
	display: inline-block;

}
.question span:nth-of-type(1){
	color: #ea9b65;
}
.question span:nth-of-type(2){
	color: #333;
}

.question-list ul{
	padding: 0 20px;
	padding-bottom: 32px;
}
.answer-left{
	width: 20px;
	float: left;
	font-size: 13px;
	color: #3faf7a;
	line-height: 22px;


}
.answer-right{
	width: 233px;
	float: right;
	color: #666;
	font-size: 13px;
	line-height: 22px;
}
.answer{
	margin-bottom: 3px;
}




/*其它课程*/
/*课程详情*/
 .course-details{
 	border-collapse:collapse;
 	margin-top: 15px;
 	margin-bottom: 69px;
 	display: none;
 }
 .course-details tr{
 	display: block;
 }
 .course-details td{
 	display: inline-block;
 }
 .course-details tr td:nth-of-type(1){
 	font-size: 14px;
 	color: #999;
 	line-height: 32px;
 	vertical-align: top;
 	padding-left: 30px;
 }
 .course-details tr td:nth-of-type(2){
 	font-size: 14px;
 	color:#333;
 	width: 756px;
 	line-height: 32px;
 	margin-left: 28px;
 }
 .course-details tr:nth-of-type(5) td:nth-of-type(2){
	padding-bottom: 20px;
	border-bottom: 1px solid #e8e8e8;
 }
 .table-down td{
	line-height: 24px;
 }
 .table-down{
 	margin-top: 8px;
 }
 .table-down1{
 	margin-top: 21px;
 }

/*课程详情*/
/*课程评价*/
.course-judge{

}
.judge-count{
	width: 140px;
	text-align: center;
	margin-top: 41px;
	margin-left: 225px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 50px;

}
.judge-num{
	display: inline-block;
}
.judge-count p:nth-of-type(1){
	font-size: 34px;
	color: #ff5000;
	line-height: 42px;
	height: 42px;
}
.judge-count p:nth-of-type(2){
	font-size: 14px;
	color: #666;
	height: 28px;
	line-height: 28px;
}
.judge-count span{
	float: left;
	display: inline-block;
	width: 28px;
	height: 29px;
	background:url(../../img/course/star1.png) no-repeat;
	background-size: 16px 16px;
	background-position: center center;

}
.judge-count .judge-star-active{
	background:url(../../img/course/star2.png) no-repeat;
	background-size: 16px 16px;
	background-position: center center;	
}
.judge-num{
	margin-top: 50px;
	margin-left: 55px;
	padding-left: 55px;
	border-left: 1px solid #e8e8e8;
}
.judge-num div{
	height: 30px;
	
}
.judge-num-words{
	display: inline-block;
	height: 30px;
	font-size: 12px;
	color: #666;
	line-height: 30px;
	vertical-align: top;

}
.judge-map,.judge-map span{
	display: inline-block;

}
.judge-map{
	width: 136px;
	height: 12px;
	background-color: #f5f5f5;
	position: relative;
	margin-top: 9px;
}
.judge-map span{
	width: 100px;
	height: 12px;
	background-color: #ffb200;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.impression{
	margin: 0 30px;
	border-top:1px solid #e8e8e8; 
	padding-top: 54px;
}




/*课程评价*/


.other-course{
	width: 858px;
	margin-left:28px;
	margin-bottom: 55px;
	margin-top: 21px;
	display: none;
}
.course-infor{
	height: 90px;
	border-bottom: 1px solid #e8e8e8;
}
.course-infor-left{
	height: 90px;
	display: inline-block;
	width: 600px;
}
.course-infor-right{
	display: inline-block;
	height: 90px;
	text-align: right;
	float: right;
}
.course-infor-left a{
	display: block;
	line-height: 32px;
	color: #333;
	font-size: 15px;
	margin-top: 15px;
}
.course-infor-left a:hover{
	color: #29b572;
}
.course-infor-left span{
	font-size: 14px; 
	color: #999;
}
.course-infor-left span:nth-of-type(4),.course-infor-left span:nth-of-type(6){
	color: #29b572;
}
.course-infor-left span:nth-of-type(1){
	padding-left: 22px;
	background:url(../../img/course/home.png) no-repeat;
	background-size: 12px 11px;
	background-position: left center;
	margin-right: 29px;
}
.course-infor-left span:nth-of-type(2){
	padding-left: 20px;
	background:url(../../img/course/clock.png) no-repeat;
	background-size: 12px 12px;
	background-position: left center;
	margin-right: 55px;
}
.course-infor-left span:nth-of-type(4){
	margin-right: 40px;
}
.course-infor-right span:nth-of-type(1){
	font-size: 16px;
	color: #ea9b65;
	line-height: 24px;
	display: inline-block;
	height: 24px;
	margin-top: 24px;
}
.course-infor-right span:nth-of-type(2){
	font-size: 20px;
	color: #ea9b65;
	margin-left: -8px;
	line-height: 24px;
	display: inline-block;
	height: 24px;
}
.course-infor-right span:nth-of-type(3),.course-infor-right del{
	font-size: 12px;
	color: #999;
	display: inline-block;
	height: 18px;
	line-height: 18px;
}
/*课程详情*/






/*用户评价*/

















