.course-details-top{
	width: 1225px;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 28px;
	height: 256px;
}
.course-details-below{
	width: 1225px;
	margin: 0 auto;
	margin-bottom: 28px;
}
.course-details-below>div{
	background-color: white;
}
.course-details-top>div{
	background-color: white;
	height: 100%;
}
.course-details-top .left,.course-details-below .left{
	width: 913px;
	float: left;
}
.course-details-top .right,.course-details-below .right{
	width: 293px;
	float: right;
}
.course-details-top .left img{
	width: 340px;
	height: 206px;
	margin-top: 25px;
	margin-left: 20px;
	float: left;
}
.course-details-top .left>div{
	float: right;
	width: 530px;
	height: 100%;
}
.school-intro>div>div{
	position: relative;
}
.school-intro p:nth-of-type(1){
	font-size: 24px;
	color: #333;
	height: 72px;
	line-height: 72px;
	margin-top: 2px;
}
.school-intro>div:nth-of-type(1) {
	width: 505px;
	height: 70px;
	border:1px solid #e8e8e8;
}
.school-intro>div:nth-of-type(1) p{
	font-size: 14px;
	color: #666;
	padding-left: 19px;
	margin-left: 21px;
	background:url(../../img/course/location.png) no-repeat;
	background-size: 11px 13px;
	background-position: left center;
}
.sign-num{
	position: absolute;
	top: -34px;
	left: 10px;
	width: 87px;
	height: 26px;
	text-align: center;
	z-index: 2;
	background-color: white;
}
.sign-num span:nth-of-type(1){
	line-height: 26px;
	font-size: 22px;
	color: #29b572;
	margin-left: 5px;
}
.sign-num span:nth-of-type(2){
	font-size: 14px;
	color: #666;
	margin-left: -5px;
}
.school-intro-stars span{
	display: inline-block;
	width: 26px;
	height: 18px;
	background:url(../../img/course/star1.png) no-repeat;
	background-size: 18px 18px;
	background-position: center center;
	float: left;
}
.school-intro-stars .active{
	background:url(../../img/course/star2.png) no-repeat;
	background-size: 18px 18px;
	background-position: center center;	
}
.school-intro-stars{
	width: 130px;
	height: 18px;
	position: absolute;
	top: -85px;
	left: 10px;
	z-index: 2;
	background-color: white;
}
.course-details-top .left .pre-advice{
	display: inline-block;
	width: 130px;
	height: 36px;
	border:1px solid #ea9b65;
	color: #ea9b65;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.course-details-top .right p{
	font-size: 16px;
	line-height: 60px;
	margin-top: 6px;
	margin-left: 16px;
	padding-left: 20px;
	background:url(../../img/course/location-icon.png) no-repeat;
	background-size: 14px 18px;
	background-position: left center;
}
#allmap{
	width: 265px;
	height: 160px;
	margin-left: 16px;
}


.hot-sale-topic{
	height: 48px;
	width: 100%;
	margin-top: 12px;
}
.hot-sale-topic span{
	display: inline-block;
	height: 48px;
	line-height: 48px;

}
.hot-sale-topic span:nth-of-type(1){
	font-size: 15px;
	color: #333333;
	padding-left: 20px;
	margin-left: 15px;
	background:url(../../img/course/fire.png) no-repeat;
	background-size: 14px 19px;
	background-position: left 40%;
}
.hot-sale-topic span:nth-of-type(2){
	font-size: 10px;
	color: #666666;
	float: right;
	margin-right: 15px;
}
.hot-course{
	height: 69px;
	margin:0 0 0 7px;
	border:1px solid rgba(0,0,0,0);
	padding-left: 8px;
	padding-bottom: 9px;
	width:272px;
}
.hot-course img{
	width: 110px;
	height: 60px;
    float: left;
    margin-top: 9px;
}
.hot-course-words{
	float: left;
	width: 161px;
	padding-left: 10px;
	box-sizing: border-box;
}
.hot-course-words p:nth-of-type(1){
	line-height: 26px;
	color: #333333;
	font-size: 14px;
}
.hot-course-words p:nth-of-type(2){
	line-height: 18px;
	color: #999;
	font-size: 12px;
}
.hot-course-words span:nth-of-type(2){
	display: inline-block;
	font-size: 14px;
	color: #ea9b65;
}
.hot-course-words span:nth-of-type(1){
	display: inline-block;
	font-size: 11px;
	color:#ea9b65; 
	margin-top: 13px;
}
.hot-course-list{
	margin-bottom: 32px;
}
.hot-course:hover{
	border:1px solid #e0e0e0;
}
.hot-course:hover .course-name{
	color: #29b572;
}


.course-reorder{
	display: inline-block;
	width: 700px;
}
.course-reorder>li{
	height: 58px;
	line-height: 58px;
	text-align: center;
	float: left;
	width: 143px;
	border-top: 4px solid rgba(41,181,114,0);
}
.course-reorder .course-reorder-active{
	border-top: 4px solid rgba(41,181,114,1);
	color: #29b572;
}
.course-reorder a{
	font-size: 16px;
	color: #333;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.course-reorder a:hover{
	color: #29b572;
}
.course-reorder .default{
	color:#29b572;
}
.topic{
	margin-top: 18px;
	line-height: 56px;
	font-size: 16px;
	color: #333;
	text-align: center;
}
.content{
	font-size: 14px;
	color: #333;
	padding: 0 30px;
	text-indent: 30px;
	line-height: 34px;
	margin-top: 10px;
}
.school-instro{
	padding-bottom: 68px;
	display: none;
}
/*相册*/
.photo-album{
	padding-left: 6px;
	margin-top: 12px;
	display: none;
}
.photo-album img{
	width: 196px;
	height: 130px;
	margin:12px 0 12px 23px;
	float: left;
}


/*本校课程*/
.school-courselist{
	margin-top: 4px;
	padding-left: 28px;
	padding-right: 31px;
}
.school-course-details{
	height: 90px;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}
.school-course-details .left{
	width: 730px;
	height: 100%;
	float: left;
}
.school-course-details .right{
	width: 84px;
	height: 100%;
	float: right;
}
.school-course-details .left p:nth-of-type(1) span:nth-of-type(1){
	display: inline-block;
	font-size:15px;
	line-height: 27px;
	margin-top: 19px;
	color: #333;
	float: left;
}
.school-course-details .left p:nth-of-type(1) span:nth-of-type(2){
	display: inline-block;
	width: 30px;
	height: 16px;
	border:1px solid #29b572;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	color: #29b572;
	float: left;
	margin-top: 24px;
	margin-left: 12px;
}
.offline .left p:nth-of-type(1) span:nth-of-type(2){
	border:1px solid #ea9b65;
	color: #ea9b65;	
}
.school-course-details .left p:nth-of-type(2) span{
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #999;
	float: left;
}
.school-course-details .left p:nth-of-type(2) span:nth-of-type(4),
.school-course-details .left p:nth-of-type(2) span:nth-of-type(6){
	color: #29b572;
}
.school-course-details .left p:nth-of-type(2) span:nth-of-type(1){
	padding-left: 20px;
	background: url(../../img/course/home.png) no-repeat;
	background-size: 13px 13px;
	background-position: left center;
}
.school-course-details .left p:nth-of-type(2) span:nth-of-type(2){
	margin-left: 30px;
	padding-left: 20px;
    background: url(../../img/course/clock.png) no-repeat;
	background-size: 12px 12px;
	background-position: left center;

}
.school-course-details .left p:nth-of-type(2) span:nth-of-type(3){
	margin-left: 55px;
}
.school-course-details .left p:nth-of-type(2) span:nth-of-type(5){
	margin-left: 40px;
}
.school-course-details .right p:nth-of-type(1) span{
	color: #ea9b65;
	display: inline-block;
	font-size: 20px;
	line-height: 26px;
	margin-top: 26px;
	float: right;
}
.school-course-details .right p:nth-of-type(1) span:nth-of-type(2){
	font-size: 16px;
	margin-right: -3px;
}
.school-course-details .right p:nth-of-type(2) span,.school-course-details .right p:nth-of-type(2) del{
	font-size: 12px;
	color: #999;
	float: right;
	line-height: 18px;
}


/*评价*/
.course-judge{
 display: none;

}
.judge-count{
	width: 140px;
	text-align: center;
	margin-top: 41px;
	margin-left: 225px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 50px;

}
.judge-num{
	display: inline-block;
}
.judge-count p:nth-of-type(1){
	font-size: 34px;
	color: #ff5000;
	line-height: 42px;
	height: 42px;
}
.judge-count p:nth-of-type(2){
	font-size: 14px;
	color: #666;
	height: 28px;
	line-height: 28px;
}
.judge-count span{
	float: left;
	display: inline-block;
	width: 28px;
	height: 29px;
	background:url(../../img/course/star1.png) no-repeat;
	background-size: 16px 16px;
	background-position: center center;

}
.judge-count .judge-star-active{
	background:url(../../img/course/star2.png) no-repeat;
	background-size: 16px 16px;
	background-position: center center;	
}
.judge-num{
	margin-top: 50px;
	margin-left: 55px;
	padding-left: 55px;
	border-left: 1px solid #e8e8e8;
}
.judge-num div{
	height: 30px;
	
}
.judge-num-words{
	display: inline-block;
	height: 30px;
	font-size: 12px;
	color: #666;
	line-height: 30px;
	vertical-align: top;

}
.judge-map,.judge-map span{
	display: inline-block;

}
.judge-map{
	width: 136px;
	height: 12px;
	background-color: #f5f5f5;
	position: relative;
	margin-top: 9px;
}
.judge-map span{
	width: 100px;
	height: 12px;
	background-color: #ffb200;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.impression{
	margin: 0 30px;
	border-top:1px solid #e8e8e8; 
	padding-top: 54px;
	margin-bottom: 45px;
}
.impression div{
	display: inline-block;
	float: left;
}
.impression div:nth-of-type(1){
	width: 64px;
	vertical-align: top;
	font-size: 14px;
	color: #999;
	line-height: 22px;
}
.impression div:nth-of-type(2){
	width: 786px;
}
.impression div:nth-of-type(2) span{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	color: #3faf7a;
	margin-left: 10px;
	border:1px solid #3faf7a;
	margin-bottom: 15px;
	padding: 0 6px;
	box-sizing: border-box;
}
.impression div:nth-of-type(2) .impression-active{
	background-color: #c2c2c2;
	color: white;
	border:none;
}
.judge-details{
	margin: 0 30px;
	border:1px solid #e8e8e8; 
	margin-bottom: 59px;

}
.judge-details>div:nth-of-type(1){
	margin-bottom: 7px;
	height: 40px;
	border-bottom:1px solid #e8e8e8; 
	font-size: 14px;
	color: #333;
	padding-left: 20px;
	line-height: 40px;
	background-color: #fafafa;
}
.judge-details li{
	display: block;
	margin:0 20px;
	padding: 20px 0;
	border-bottom: 1px solid #e8e8e8;
}
.judge-details li span{
	display: inline-block;
	height: 33px;
	line-height: 33px;
	font-size: 12px;
	width: 12px;
	vertical-align: top;
	color: #999;
}
#user-name{
	width: 200px;
}
.user-judge{
	background:url(../../img/course/star1.png) no-repeat;
	background-size: 8px 8px;
	background-position: center center;		
}
.user-judge-active{
	background:url(../../img/course/star2.png) no-repeat;
	background-size: 8px 8px;
	background-position: center center;		
}
.judge-details p{
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
.judge-details ul{
	margin-bottom: 30px;
}
.judge-details .judge-nav{
 text-align: center;
}
.judge-nav{
	text-align: center;
	margin-bottom: 38px;
}
.judge-nav span{
	height: 30px;
	line-height: 30px;
	border:1px solid #cccccc;
	display: inline-block;
	padding: 0 11px;
	font-size: 13px;
	color: #666666;
}
.judge-nav .page-active{
	background-color: #29b572;
}






