.limit {
	overflow: inherit;
}

.city {
	float: left;
	font-size: 15px;
	width: 72px;
	height: 26px;
	cursor: pointer;
	margin: 32px 0px 0px 15px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	position: relative;
}

.city p {
	width: 62px;
	height: 26px;
	color: #333;
	line-height: 26px;
	padding-left: 10px;
}

.city i {
	top:26px;
	left: 0px;
	width: 72px;
	height: 1px;
	z-index: 99999;
	background: #fff;
	position: absolute;
}

.city-cont {
	top: 26px;
	left: -2px;
	width: 324px;
	z-index: 11111;
	background: #fff;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	padding: 25px 5px 0px 5px;
}

.city-cont li {
	float: left;
	margin: 0 15px;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	
}

.city-cont li:hover .citymask{
	display: block;
}

.citymask {
	width: 78px;
	height: 30px;
	position: absolute;
	background: rgba(255,255,255,0.6);
	display: none;
}


.city-cont li img {
	width: 78px;
	height: 30px;
	display: block;
	margin-bottom: 8px;
	border-radius: 20px;
}

.city-cont li em{
	color: #333;
	font-size: 12px;
	text-align: center;
}

#header {
	height: 100px;
	/*z-index: 99999;*/
}

#wrap {
	width: 1250px;
	margin: 0 auto;
}

.loginreg {
	margin: 38px 0px;
}

.loginreg a {
	color: #000;
	font-size: 14px;
	padding: 0 10px;
}

.loginreg a:hover {
	color: #008800;
}


/*nav*/

#nav {
	margin: 20px auto;
	width: 100%;
	height: 100%;
}

#banner {
	float: left;
	width: 980px;
	height: 350px;
	overflow: hidden;
}

.pagination {
	position: absolute;
	width: 100%;
	bottom: 5px;
	right: 20px;
	text-align: right;
	-webkit-user-select: none;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 10px;
	background: #fff;
	opacity: 0.6;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 10px;
	cursor: pointer;
}

.swiper-active-switch {
	background: #fff;
	opacity: 1;
}


/*nav right*/

#navright {
	float: right;
	background-color: #fff;
	width: 270px;
	height: 350px;
}

.center {
	width: 230px;
	height: 310px;
	margin: 10px 20px;
}

.centerhead {
	border-bottom: 1px solid #e8e8e8;
	height: 90px;
}

.centerhead img {
	width: 60px;
	float: left;
}

.centerms {
	width: 150px;
	float: right;
	font-size: 14px;
	text-align: left;
}

.centerbtn:hover {
	color: #FFFFFF;
	background-color: #29B572;
}

.centerbtn {
	display: inline-block;
	color: #29b572;
	width: 60px;
	height: 24px;
	margin: 5px;
	border-radius: 2px;
	text-align: center;
	line-height: 24px;
}

.centerlogin {
	background-color: #008800;
	color: #fff;
}

#centercon {
	margin-top: 14px;
	font-size: 14px;
	height: 200px;
	border-bottom: 1px solid #e8e8e8;
}

#knowjing {
	float: right;
	color: #000;
}

#knowjing:hover {
	color: #29B572;
}

#knowfour {
	margin: 12px auto;
}

#knowfour li {
	float: left;
	width: 50%;
	text-align: center;
	color: #000;
}

#knowfour li a {
	color: #000;
}

#knowfour li a:hover {
	color: #29B572;
}

.rumen {
	width: 40px;
	height: 36px;
	margin: 12px auto;
	background: url(../../img/index/rumen.png);
	background-repeat: no-repeat;
	/*background-size: 220px 36px;*/
}

.rumen1 {
	background-position: 0px;
}

.rumen2 {
	background-position: -45px;
}

.rumen3 {
	background-position: -95px;
}

.rumen4 {
	background-position: -135px;
	width: 60px;
}

#centerfooter {
	text-align: center;
}

#centerfooter a {
	color: #666;
	text-decoration: underline;
	margin: 20px;
}

#centerfooter a:hover {
	color: #29B572;
}


/*------------------华丽分割线，下面是kecheng--------------*/

#kecheng {
	background-color: #fff;
	width: 1250px;
	margin: 20px auto;
}

#kecheng li:first-child {
	border-left: none;
}

#kecheng li {
	display: inline-block;
	width: 220px;
	padding: 10px 0px 10px 20px;
	margin: 30px 0;
	float: left;
	border-left: 1px solid #e8e8e8;
}

.kechengtu {
	width: 70px;
	height: 60px;
	background-image: url(../../img/index/kecheng.png);
	background-repeat: no-repeat;
	background-size: 340px 60px;
	float: left;
	margin: 30px 0;
}
.kechengtu2 {
	background-position: -65px;
}

.kechengtu3 {
	background-position: -135px;
}

.kechengtu4 {
	background-position: -200px;
}

.kechengtu5 {
	background-position: -269px;
}

.kechengxiang {
	display: inline-block;
	float: left;
	width: 130px;
	margin-left: 10px;
}

.kechengxiang h3 {
	font-size: 18px;
	font-weight: 900;
}

.kechengxiang p {
	color: #999;
	font-size: 14px;
}


/*------------------华丽分割线，下面是contain--------------*/


/*online*/

#contain h2 {
	font-size: 24px;
	margin: 20px 0;
}

#online {
	width: 1250px;
	height: 180px;
	background-color: #fff;
}

#subject {
	margin: 20px;
	float: left;
}

#subject li {
	width: 225px;
	float: left;
	position: relative;
	margin: 0 8px;
}

.subjectmask {
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 140px;
	color: #fff;
}

#subject li:hover .subjectmask {
	display: block;
}


/*different*/

#studdiff {
	width: 1250px;
	height: 350px;
	background-color: #FFFFFF;
}

#different {
	margin: 20px;
	float: left;
}

#different li {
	float: left;
	width: 250px;
	text-align: center;
	margin: 0 20px;
}

#different li p {
	text-align: left;
	font-size: 13px;
	color: #999;
}

.stud {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	margin: 0px 22px 28px 55px;
}

#different li h3 {
	font-size: 18px;
	font-weight: 900;
}

/*scholarship*/

#scholarship {
	background-color: #fff;
}

#personList {
	float: left;
	margin: 0px 20px 40px 15px;
	text-align: center;
}

#personList li {
	display: inline-block;
	float: left;
	margin: 0 20px;
}

.person {
	width: 199px;
	height: 350px;
	border: 2px solid;
	border-image: linear-gradient(transparent,#f2f2f2)30 30;	
}
.person *{
	margin: 10px;
}

.personhead {
	width: 120px;
	height: 120px;
	border-radius:60px;
	margin: 40px;
	}
	
.peresonmoney{
		font-size: 24px;
	}
	
	/*agency*/
	
#agency {
	height: 150px;
	width: 1250px;
	background-color: #fff;
	text-align: center;
	}
	
	#agencyxian {
		width: 1190px;
		float: left;
		overflow: hidden;
		margin: 50px auto;
		position: relative;
	}

#agencyList{
	width:3740px;
	height: 50px;
	position: relative;
}

#agencyList li,#partner li {
	display: inline-block;
	float: left;
	width: 150px;
	height: 50px;
	margin: 0 10px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}

#partner li {
	margin: 10px 20px;
}

#agencyright,#agencyleft {
	line-height: 150px;
	font-size: 30px;
	color: #666666;
}

#agencyleft {
	float: left;
	padding-left: 10px;
}

#agencyright {
	float: right;
	padding-right: 10px;
}

/*partner*/

#partner {
	width: 1250px;
	height: 150px;
	background-color: #fff;
	padding: 20px;
}

#friend {
	width: 1290px;
	background-color: #fff;
}

#friendList {
	padding: 50px 40px;
}

#friendList li{
	display: inline-block;
	margin: 0 10px;
}

#friendList li a {
	font-size: 14px;
	color: #333;
}


/*gotop*/

#top {
	position: fixed;
	width: 60px;
	height: 60px;
	background-color: #008000;
	bottom: 20px;
	left: 85%;
}

#top img {
	transform: rotateZ(180deg);
	width: 40px;
	height: 25px;
	margin: 15px auto;
}

/*登陆成功*/
#loginsuccess {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	z-index: 1;
	display: none;
}

#successbox {
	width: 500px;
	height: 188px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -94px;
	border-radius: 5px;
}

.succhead {
	background-color: #29B572;
	height: 30px;
	width: 100%;
}

.succhead p {
	width: 100px;
	line-height: 30px;
	margin-left: 10px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
}

#sucx {
	width: 30px;
	height: 30px;
	float: right;
	background-image: url(../../img/jingyingba.png);
	background-repeat: no-repeat;
	background-position: 1px -260px;
}

#successbox>p {
	color: #333333;
	font-size: 14px;
	margin: 30px 40px 0px 40px;
}

#sucding {
	padding: 11px 35px;
	background-color: #29B572;
	float: right;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	margin-right: 20px;
}

/*个人中心hover*/
.personalBtn:hover #perList{
	display: block;
}

#perList {
	position: absolute;
	top: 70px;
	right: 0;
	background-color: #fff;
	display: none;
	border-bottom:1px solid #A0A0A0; 
	
}



#perList li {
	width: 90px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	border:1px solid #A0A0A0;
	border-bottom:0; 
	
}

#perList li a{
	color: #333333;
	font-size: 14px;
}

#perList li:hover {
	background-color: #a5a5a5;
}

/*u3d*/

#u3dshow {
	width: 1250px;
	height: 360px;
	background-color: #fff;
	margin: 30px auto;
	padding: 17px;
}

.u3d1hour {
	width: 430px;
	display: inline-block;
}

.u3dms {
	display: inline-block;
	vertical-align: top;
}

.u3dms h2{
	font-size: 24px;
	padding-left: 20px;
}

.keshi {
	margin-top: 140px;
}

.u3dmsleft,.u3dmsright {
	display: inline-block;
	padding-right:10px ;
	padding-left: 20px;
	margin: 0px 0px 10px 10px;
	font-size: 14px;
}

.u3dmsleft span,.u3dmsright span {
	font-size: 20px;
}
