.leftBar {/*左侧导航栏样式-开始*/
	display: inline-block;
	width: 171px;
	background-color: white;
	margin-right: 15px;
}
.leftList {
	width: 169px;
	margin: 1px auto;
}
.leftList li {
	border-left: 2px solid transparent;
	height: 48px;
}
.leftList .active {
	border-color: #29b572;
	background-color: #fafafa;
}
.leftList a {
	display: block;
	line-height: 48px;
	color: black;
	font-size: 1.4rem;
	text-indent: 16px;
}
.content {
	margin: 30px 0;
	overflow: hidden;
}
.container {
	width: 1064px;
	float: right;
}
.cTitle {
	height: 42px;
	font-size: 2.2rem;
}
.orderWrap {
	overflow: hidden;
	background-color: white;
}
.orderMenu {
	width: 756px;
	overflow: hidden;
	float: left;
}
.orderMenu li {
	position: relative;
	float: left;
	width: 124px;
	height: 38px;
	border-top: 4px solid transparent;
}
.orderMenu .active {
	border-color: #29b572;
}
.orderMenu li a {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	color: black;
	line-height: 38px;
}
.deleteOrder {
	display: block;
	float: right;
	font-size: 1.4rem;
	line-height: 1;
	margin: 15px 30px 0 0;
	color: #999;
	cursor: pointer;
}
.trash {
	font-size: 2rem;
}
.deleteOrder:hover {
	color: #29b572;
}
.head {
	overflow: hidden;
}
.orderPage {
	width: 977px;
	margin: 43px auto 55px;
	border: 1px solid #e8e8e8;
}
.opHead {
	height: 40px;
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
}
.selectAll {
	display: inline-block;
	width: 227px;
	float: left;
	line-height: 40px;
	height: 40px;
	-webkit-user-select: none;
}
.selectAll span:nth-child(2) {
	display: inline-block;
	line-height: 40px;
	font-size: 1.4rem;
	text-indent: 5px;
}
.crossOut {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #e8e8e8;
	margin: 13px 0 13px 15px;
	vertical-align: middle;
	-webkit-user-select: none;
	cursor: pointer;
}
.selected {
	position: absolute;
	display: inline-block;
	width: 13px;
	height: 13px;
	font-size: 1.4rem;
	line-height: 1;
	left: -1px;
	top: 0;
	color: #29b572;
	display: none;
}
.opHead {
	background-color: #fafafa;
}
.opHead>span {
	display: block;
	float: left;
	line-height: 40px;
	font-size: 1.4rem;
}
.opHead>.span2 {
	width: 251px;
}
.opHead>.span3 {
	width: 111px;
}
.opHead>.span4 {
	width: 98px;
}
.opHead>.span5 {
	width: 86px;
}
.opHead>.span6 {
	width: 123px;
}
.orderList {
	width: 947px;
	height: 66px;
	margin: auto;
	padding: 28px 0;
	border-bottom: 1px solid #e8e8e8;
	font-size: 1.4rem;
}
.orderList:nth-last-of-type(1) {
	border: 0;
}
.orderList .crossOut {
	margin: 26px 0;
	float: left;
}
.orderPic {
	float: left;
	width: 108px;
	margin: 0 10px;
}
.orderMsg {
	float: left;
	width: 259px;
	padding-right: 56px;
}
.orderMsg p {
	line-height: 1.4;
}
.orderMsg p:nth-child(1) {
	margin-bottom: 9px;
}
.orderMsg p:nth-child(2) {
	color: #999;
}
.orderList>span {
	display: block;
	float: left;
	line-height: 66px;
}
.orderTime {
	width: 125px;
}
.numbersd {
	width: 80px;
}
.sumMoney {
	width: 100px;
}
.play {
	display: block;
	float: right;
	width: 70px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #ea9b65;
	color: white;
	margin: 19px 12px;
}
.playBtn:hover {
	transition: 0.5s;
	background-color: #e0884c;
}
.hollow {
	width: 68px;
	height: 26px;
	border: 1px solid #ea9b65;
	color: #ea9b65;
	background-color: transparent;
}
.hollowBtn:hover {
	transition: 0.5s;
	background-color: transparent;
	color: #e0884c;
}
.text {
	border-color: transparent;
	color: black;
}
.refund {
	width: 947px;
	margin: auto;
	font-size: 1.4rem;
	padding: 28px 0 24px;
	background-color: #fafafa;
	display: none;
}
.refundCondition {
	margin-bottom: 15px;
}
.refundLine {
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	width: 112px;
}
.refundLine * {
	float: right;
}
.refundLine i {
	display: inline-block;
	width: 15px;
	color: red;
}
.refundOptionBar {
	position: relative;
	display: inline-block;
	width: 216px;
	height: 28px;
	border: 1px solid #e8e8e8;
	background-color: white;
	cursor: pointer;
}
.refundOptionBar input {
	border: 0;
	width: 196px;
	height: 14px;
	padding: 7px 10px;
}
.refundCondition:nth-of-type(3) .refundOptionBar {
	width: 558px;
	height: 120px;
}
.refundOptionBar textarea {
	border: 0;
	resize: none;
	padding: 10px;
	width: 538px;
	height: 100px;
	font-size: 1.4rem;
}
.refundOptionBar .down {
	display: inline-block;
	line-height: 28px; 
	float: right;
	width: 20px;
}
.refundOption {
	position: absolute;
	top: 29px;
	left: -1px;
	background-color: white;
	width: 216px;
	text-indent: 10px;
	line-height: 28px;
	border: 1px solid #E8E8E8;
	border-top: 0;
	z-index: 900;
	display: none;
}
.refundOptionBar>span {
	float: left;
	line-height: 28px;
	text-indent: 10px;
}
.refundOption li {
	width: 100%;
	display: block;
	border-top: 1px solid #e8e8e8;
}
.refundOption li:nth-child(1) {
	border-top: 0;
}
.overplus {
	display: inline-block;
	font-size: 1.2rem;
	color: #666;
	line-height: 1;
	margin-top: 110px;
	text-indent: 10px;
}
.refundBtn {
	display: block;
	width: 109px;
	height: 32px;
	background-color: #29B572;
	text-align: center;
	line-height: 32px;
	color: white;
	margin-left: 112px;
	margin-top: 20px;
}
.starBar {
	display: inline-block;
	height: 30px;
}
.starBar i {
	display: inline-block;
	line-height: 30px;
	font-size: 1.4rem;
	width: 20px;
	color: #ffb200;
	cursor: pointer;
	-webkit-user-select: none;
}
.experience {
	width: 538px;
	height: 61px;
	border: 1px solid #e8e8e8;
	padding: 10px;
	display: inline-block;
}
.experience span {
	display: inline-block;
	line-height: 22px;
	margin: 0 10px 10px 0;
	padding: 0 5px;
	cursor: pointer;
}
.solid {
	background-color: #29b572;
	color: white;
}
.gray {
	background-color: gray;
	color: white;
	border: 1px solid gray;
}
.border {
	border: 1px solid #29b572;
}
.starBar .icon-gray {
	color:#999;
}