.schedule {/*学习进度样式-开始*/
	width: 1078px;
	float: right;
	line-height: 1;
	margin-top: 26px;
	
}
.schedule>p {
	font-size: 1.4rem;
	color: #999;
	text-indent: 22px;
}
.scheduleList {
	margin-top: 7px;
}
.scheduleList li {
	height: 39px;
	line-height: 39px;
	font-size: 1.4rem;
}
.scheduleList .active {
	background-color: #eef9f4;
}
.scheduleList li:nth-last-child(1) {
	margin: 0;
}
.scheduleList li>span:nth-last-child(1) {
	float: right;
	margin-right: 72px;
}
.scheduleList li>span:nth-child(1) {
	margin-left: 30px;
	width: 540px;
}
.scheduleList span {
	display: inline-block;
	line-height: 14px;
}
.scheduleList p {
	display: inline-block;
}
.scheduleList p span,.scheduleList li>span:nth-child(3) {
	color: #666;
	line-height: 39px;
}
.scheduleList li p>span:nth-child(1) {
	width: 105px;
}
.grayBar,.greenBar {
	display: inline-block;
	height: 4px;
}
.grayBar {
	position: relative;
	width: 50px;
	background-color: #ccc;
	margin: 17.5px 0;
	vertical-align: top;
}
.greenBar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #29b572;
}
.scheduleList li:nth-child(1) .greenBar {
	width: 20px;
}
.scheduleList li:nth-child(2) .greenBar {
	width: 10px;
}
.scheduleList li:nth-child(3) .greenBar {
	width: 50px;
}/*学习进度样式-结束*/
/*内容头样式-结束*/

/*中间内容样式-开始*/
.centerContainer {
	margin-top: 30px;
	overflow: hidden;
}
.leftBar {/*左侧导航栏样式-开始*/
	display: inline-block;
	width: 171px;
	background-color: white;
	margin-right: 15px;
}
.leftList {
	width: 169px;
	margin: 1px auto;
}
.leftList li {
	border-left: 2px solid transparent;
	height: 48px;
}
.leftList .active {
	border-color: #29b572;
}
.leftList a {
	display: block;
	line-height: 48px;
	color: black;
	font-size: 1.4rem;
	text-indent: 16px;
}/*左侧导航栏样式-结束*/
.cdDown {
	position: relative;
	float: right;
	width: 1064px;
	background-color: white;
	margin-top: 30px;
}
.toDown {
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	background-color: #fafafa;
	height: 54px;
}
.toDown a {
	width: 118px;
	text-align: center;
	color: black;
	font-size: 1.6rem;
	display: inline-block;
	line-height: 54px;
	border-right: 1px solid transparent;
}
.toDown .active {
	background-color: white;
	border-right-color: #e8e8e8;
	border-bottom: 1px solid white;
}
.course {
	width: 997px;
	margin: auto;
}
.title {
	font-size: 1.4rem;
	line-height: 1;
	margin-top: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e8e8e8;
}
.courseList li {
	position: relative;
	line-height: 39px;
	height: 39px;
	text-indent: 15px;
}
.courseList li span {
	display: inline-block;
	text-indent: 0;
	font-size: 1.4rem;
}
.courseList li span:nth-child(1) {
	width: 756px;
}
.courseList li p:nth-last-child(1) {
	position: absolute;
	right: 0;
	display: inline-block;
}
.courseList .active {
	background-color: #eef9f4;
}