.content {
	width: 1250px;
	margin: 30px auto; 
}
/*内容头样式-开始*/
.upContainer {
	height: 176px;
	background-color: white;
}

.leftList .active {
	border-color: #29b572;
	background-color: #fafafa;
}

.studentMsg {/*学员信息样式-开始*/
	display: inline-block;
	width: 171px;
	border-right: 1px solid #e8e8e8;
	height: 100%;
}
.headImg {
	width: 86px;
	margin: 0 auto 10px;
	padding: 21px 0 0;
}
.studentName {
	font-size: 14px;
	line-height: 1;
	text-align: center;
	color: #333;
	margin-bottom: 10px;
}
.studentMsg a {
	display: block;
	width: 36px;
	height: 13px;
	border: 1px solid #ccc;
	color: #666;
	font-size: 12px;
	text-align: center;
	line-height: 13px;
	border-radius: 2px;
	margin: auto;
}/*学员信息样式-结束*/
.leftBar {/*左侧导航栏样式-开始*/
	display: inline-block;
	width: 171px;
	background-color: white;
	margin-right: 15px;
}
.leftList {
	width: 169px;
	margin: 1px auto;
}
.leftList li {
	border-left: 2px solid transparent;
	height: 48px;
}
.leftList .active {
	border-color: #29b572;
	background-color: #fafafa;
}
.leftList a {
	display: block;
	line-height: 48px;
	color: black;
	font-size: 1.4rem;
	text-indent: 16px;
}